# PARSE SERVER
PORT=1337
APP_NAME=Parse App
APP_ID=myAppId
MASTER_KEY=myMasterKey
REST_API_KEY=myRestApiKey
MAINTENANCE_KEY=myMaintenanceKey
SERVER_URL=http://192.168.1.50:1337/parse

# DATABASE
DATABASE_URI=mongodb://mongodb:27017/parsedb